.favorites__container {
    width: 100%;       
  }  
  .favorites__list { 
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 200px;
  }
  .favorites__heading {
    padding-left: 200px;
    margin-top: 45px;
    font-size: 30px;
    line-height: 40px;
    text-align: left;   
  }
  .favorites-item {
    min-width: 414px; 
    display: flex;
    justify-content: space-between;    
    border-radius: 10px;
    margin-top: 15px;    
    padding: 13px 40px 0 40px;
    border: 1px solid black;
  }
  .favorites-item p {
      margin-top: 5px;
  }  
  .favorites-item__buttons {
   padding-bottom: 14px;   
  }
  .favorites-item__buttons button {
      margin-right: 10px;
  }
  
  .favorites-item__title {
    font-size: 18px;
    font-weight: 500;    
    line-height: 20px;
  }
  